@import '../../../styles/field-core';

.field-counter-input {
    @include field-container();
    display: block;

    &__label {
        @include field-label();
    }

    &__error {
        @include field-hint-error-hidden();
    }

    &__hint {
        @include field-hint-error-hidden();
    }

    &__wrapper-container {
        margin-bottom: 8px;
        position: relative;
        width: 100%;
    }

    &__input {
        background-color: #fff;
        border: 1px solid #c9c992;
        color: #323843;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        padding: 2px 37px 2px 5px;
        text-align: left;
        width: 100%;

        &:focus {
            outline: none;
        }

        &:active,
        &:focus {
            background-color: #fff;
            border: 1px solid #38bcd9;
        }

        &:disabled {
            background-color: #edecec;
            border: 1px solid #999;
            color: #999;
        }

        &--error {
            border: 1px solid #ff0000;

            &:focus {
                border: 1px solid #f00;
            }
        }

    }

    &__icon {
        color: #666;
        cursor: default;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
    }

    .icon-arrow-up {
        top: -3px;
    }

    .icon-arrow-down {
        bottom: -3px;
    }

    .icon-delete {
        right: 20px;
        top: 3px;
    }

}
