<csn-tabs>
    <csn-tab [tabTitle]="'Title'"><h3>Tab 1 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 2'"><h3>Tab 2 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 3'"><h3>Tab 3 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 4'"><h3>Tab 4 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 5'"><h3>Tab 5 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 6'"><h3>Tab 6 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 7'"><h3>Tab 7 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 8'"><h3>Tab 8 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 9'"><h3>Tab 9 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 10'"><h3>Tab 10 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 11'"><h3>Tab 11 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 12'"><h3>Tab 12 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 13'"><h3>Tab 13 Content</h3></csn-tab>
    <csn-tab [tabTitle]="'Title 14'"><h3>Tab 14 Content</h3></csn-tab>
</csn-tabs>
